﻿extends layout

block content
  h1= title
  p Welcome to #{title}

  form.form-inline(role='form',action='/valid',method='post')
      div.form-group
        label(for='email') Usuario:
        input#email.form-control(type='text',name='usuario',required,autofocus)
      .form-group
        label(for='pwd') contraseña:
        input#pwd.form-control(type='password',name="password",required)
      button.btn.btn-default(type='submit') Enviar
  
  strong #{msg}
    
  a(href ='/registro') Registrate
