﻿doctype html
html(lang='es')
  head
    title= title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery.js')
    script(src='/bootstrap/js/bootstrap.min.js')
  body
    nav.navbar.navbar-default.navbar-fixed-top
      .container
        h1 Header

    block content