﻿extends layout

block content
    
    form#registro.form-horizontal(role='form')
      .form-group
        label.control-label.col-sm-2(for='email') Usuario:
        .col-sm-10
          input#email.form-control(type='email', placeholder='Ingresa tu usuario')
      .form-group
        label.control-label.col-sm-2(for='pwd') Password:
        .col-sm-10
          input#pwd.form-control(type='password', placeholder='Ingresa tu contraseña')

      .form-group
        label.control-label.col-sm-2(for='pwd') Nombre:
        .col-sm-10
          input#pwd.form-control(type='password', placeholder='Ingresa tu nombre')
       
       .form-group
        label.control-label.col-sm-2(for='pwd') Apellido:
        .col-sm-10
          input#pwd.form-control(type='password', placeholder='Ingresa tu apellido')

      .form-group
        .col-sm-offset-2.col-sm-10
          button.btn.btn-default(type='submit') Enviar
            